/*@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);*/

header {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-left: 42px;
}

.header-item {
    display: flex;
    align-items: center;
}

.header-item > :not(:first-child) {
    margin-left: 12px;
}

.header-logo img {
    height: 70%;
}