@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

header {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-item {
    display: flex;
    align-items: center;
    margin-left: 42px;
}

.header-logo {
    height: 70%;
}

.header-title {
    font-family: Montserrat, serif;
    font-weight: bold;
}